<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Ethical Hacking</h2>
          </header>
          <ul>
            <li><a href="{{ 'index.html' | absolute_url }}">Inicio</a></li>
            <li><a href="{{ 'tools.html' | absolute_url }}">Herramientas</a></li>
	          <li><a href="{{ 'malware_reversing' | absolute_url }}">Malware Reversing</a></li>
            <li><a href="{{ 'ctf.html' | absolute_url }}">CTFs</a></li>
            <li><a href="{{ 'books.html' | absolute_url }}">Libros</a></li>
            <li><a href="{{ 'Android.html' | absolute_url }}">Android</a></li>
            <li><a href="{{ 'ICS.html' | absolute_url }}">Sistemas de control industrial</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Contacto</h2>
          </header>
          <p>Si deseas contactarte conmigo por alguna idea, aporte al blog, enviarme algún malware,etc. Puedes hacerlo al correo...</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:takionexmachina@disroot.org">takionexmachina@disroot.org</a></li>
            <br>
            <a href="/assets/gpg/public.gpg">PGP:D3AB 930F D1C9 EEFA 9A4B BB88 ADFA BCD6 C16E DB7C </a> 
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved.
            Template based on: <a href="https://andrewbanchi.ch">Andrew Banchich</a>'s work.</p>
        </footer>

    </div>
  </div>
