<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Ethical Hacking</h2>
          </header>
          <ul>
            <li><a href="{{ 'index.html' | absolute_url }}">Inicio</a></li>
            <li><a href="{{ 'tools.html' | absolute_url }}">Herramientas</a></li>
	    <li><a href="{{ 'malware_reversing' | absolute_url }}">Malware Reversing</a></li>
            <li><a href="{{ 'ctf.html' | absolute_url }}">CTFs</a></li>
            <li><a href="{{ 'books.html' | absolute_url }}">Libros</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Contacto</h2>
          </header>
          <p>Si deseas contactarte conmigo por alguna idea, aporte al blog, etc. Puedes hacerlo al correo...</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:takion2016@yandex.com">takion2016@yandex.com</a></li>
            <br>
            <a href="/assets/gpg/public.gpg">PGP: 2D0A 132B 803F D7BB 0A1D  9CBA B13E DA51 C487 703C</a> 
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved.
            Template based on: <a href="https://andrewbanchi.ch">Andrew Banchich</a>'s work.</p>
        </footer>

    </div>
  </div>
